# Ignore environment files
.env
**/.env

# Node.js dependencies
node_modules/
frontend/dist/
frontend/.vercel/

# Python virtual env
venv/
.venv/
__pycache__/

# Logs and system files
*.log
.DS_Store

# VSCode settings
.vscode/
